* {
    background-color: #ADD8E6;
    text-align: center;
}

h1 {
    font-size: 75px;
    font-style: italic;
    color: white;
}

ul, ol {
    text-align: justify;
    list-style: inside;
}

h3, h4 {
    color: white;
    font-weight: bold;
}